@import url('font.css');

/* Misc */
* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: 100%;
    background-color: #fafafa;
    overflow-x: hidden !important;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.content {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    max-height: 1000px;
    position: relative;
    padding: 5%;
}

.content h1 {
    text-align: center;
}

.cv-button {
    background-color: #FFFFFF; /* #5C4033 */
    border: 0.001rem solid black;

    font-weight: 400;
    font-family: 'Lemon/Milk', sans-serif; 
    color: black;

    width: 160px;
    padding: 16px;

    text-align: center;
    font-size: 16px;
    text-decoration: none; 

    border-radius: 1600px;
    transition: 0.5s;
}

.contact-button {
    background-color: #000000; /* #5C4033 */

    font-weight: 400;
    font-family: 'Lemon/Milk', sans-serif; 
    color: white;

    width: 160px;
    padding: 16px;

    text-align: center;
    font-size: 16px;
    text-decoration: none; 

    border-radius: 1600px;
    transition: 0.5s;
}

.contact-button:hover {
    background-color: #6e6e6e;
}

.buttons {
    display: flex; 
    column-gap: 15px;
    padding-top: 16px;
    justify-content: center;
} 

.header {
    padding-bottom: 50px;
}

/* Welcome Section */
/*#welcome-section {
    background-color: #33AA33;
}*/

.welcome {
    float: left;
    padding-left: 20%;
    /*padding-top: 450px;*/
}

.rounded {
    height: 450px;
    width: 450px;
    border-radius: 50%;
    background-color: #c8c8c8;
    box-shadow: 1px 5px 5px;
}

.justine-ramos {
    float: right;
    /*padding-top: 300px;*/
    padding-right: 20%;
}

.welcome h1 {
    font-weight: 400;
    font: 46px 'Lemon/Milk', sans-serif; 
}

.welcome h3 {
    font-weight: 400;
    font-family: 'monospace', monospace;
}

.welcome h5 {
    font-weight: 400;
    font: 20px 'monospace', monospace;
}

/* About Me Section */

#about-me {
    display: inline-block;
}

#about-me h1 {
    font-weight: 400;
    font: 60px 'Lemon/Milk', sans-serif; 
    cursor: pointer;
}

p + p {
    margin-top: 1.875rem;
}

#about-me p {
    font: 1.25rem 'Noto Sans';
    text-align: justify;
}

#about-me b {
    font-weight: bolder;
}

#about-me img {
    height: 15%;
    width: 25%;
    transition: 0.5s;
}

#about-me img:hover {
    transform: scale(1.3); 
}

#about-me button {
    background-color: #5C4033; /* #5C4033 */
    box-shadow: 5px 5px 5px #000000;
    border: none;

    font-weight: 400;
    font: 15px 'Lemon/Milk', sans-serif; 
    color: white;

    width: 20%;
    padding: 1%;

    text-align: center;
    text-decoration: none; 

    cursor: pointer;

    transition: 0.5s;    
}

#about-me button:hover {
    transform: scale(1.3); 
}

/* My Projects section */
#my-projects {
    font-family: 'Noto Sans';
    /*padding-top: 450px;
    background-color: aquamarine;*/    
}

#my-projects h1 {
    font-weight: 400;
    font: 60px 'Lemon/Milk', sans-serif; 
    cursor: pointer;
}

.project-container {
    width: 100%;
    height: 50%;

    border: 1px solid;
}

.project-container content {
    align-items: center;
}

.project-container img {
    max-width: 30%;
    width: 30%;
}

/* Footer */
footer {
    display: grid;
    height: 10vh;
    background-color: #000000;

    padding: 5px;

    text-align: center;
    align-items: center;
    color: white;
    font: 0.80rem 'Noto Sans';
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer .contacts {
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {

    .welcome h3 {
        font-weight: 400;
        font: 14px 'monospace', monospace;
    }    
    
    .welcome h5 {
        font-weight: 400;
        font: 15px 'monospace', monospace;
    }

    .rounded {
        width: 200px;
        height: 200px;
    }

    .cv-button {
        width: 90px;
        font-size: 8px;
    }
    
    .contact-button {
        width: 90px;
        font-size: 8px;
    }
    
    #about-me h1 {
        font: 40px 'Lemon/Milk', sans-serif; 
    }

    #about-me button {
        width: 30%;
        font: 11px 'Lemon/Milk', sans-serif; 
    }

    #my-projects h1 {
        font: 40px 'Lemon/Milk', sans-serif; 
    }

    #my-projects {
        padding-top: 50%;
    }
}